.pagination a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  color: #222;
}
.pagination a:hover {
  color: #222;
}
.page-item.active .page-link {
  border: none;
  background-color: #2ecc71;
  color: white;
}
